/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
/* Your app custom styles here */
.color-theme-teal {
  --f7-theme-color: #009688;
  --f7-theme-color-rgb: 0, 150, 136;
  --f7-theme-color-shade: #006d63;
  --f7-theme-color-tint: #06b8a6;
}
